---
import AllComponentPage from "../layouts/AllComponentPage.astro";
import LargeBox from "../components/LargeBox.astro";
---

<AllComponentPage title="All Components">
    <div class="h-[100vh] w-[100vw] grid grid-cols-3 text-center">
        <LargeBox name="Cards"/>
        <LargeBox name="Navigation"/>
        <LargeBox name="Footer"/>
        <LargeBox name="Pricing Section" link="pricingsection"/>
    </div>
</Layout0>