---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="card" componenttitle="card">
    <div class="h-[100vh]">
      
    </div>
</ComponentPageLayout>