---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="Footer" componenttitle="Footer">
    <div class="h-[100vh]">
      
    </div>
</ComponentPageLayout>