---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="HeroSection" componenttitle="HeroSection">
    <div class="h-[100vh]">
      
    </div>
</ComponentPageLayout>