---
import Layout from "../layouts/Layout.astro"
import HeroSection from "../components/HeroSection.astro";

---

<Layout title="Water UI - TailwindCSS Components Library">
  <section>
    <HeroSection/>
  </section>
</Layout>