---
import Newsletter1 from '../components/ComponentForLibrary/Newsletter1.astro'
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="newsletter" componenttitle="newsletter">
    <div class="h-[100vh] grid place-items-center w-[98vw]">
      <Newsletter1/>
    </div>
</ComponentPageLayout>