---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="newsletter" componenttitle="newsletter">
    <div class="h-[100vh]">
      
    </div>
</ComponentPageLayout>