---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
---
<ComponentPageLayout title="Pricing Section" componenttitle="Pricing Section">
    <div class="h-[100vh]">
      
    </div>
</ComponentPageLayout>