---
import ComponentPageLayout from "../layouts/ComponentPageLayout.astro";
import PricingSection1 from "../components/ComponentForLibrary/PricingSection(1).astro";
---
<ComponentPageLayout title="Pricing Section" componenttitle="Pricing Section">
    <div class="h-[100vh] grid place-content-center">
        <PricingSection1/>
    </div>
</ComponentPageLayout>