---

---

<div class="grid place-content-center h-screen w-screen">
  <div class="md:w-[95vw] sm:w-[80vw] w-[90vw] text-center">
    <h1 class="md:text-[100px] text-[60px]  text-[#E2EDF0]">TailwindCSS Components Library</h1>
  </div>
  <div class="flex justify-center items-center bg-white  ring ring-black sm:w-[500px] w-[350px] gap-x-[60px] p-3 rounded-2xl m-auto">
    <div class="w-[250px] sm:w-[350px] md:w-[950px]">
        <p class="text-center sm:text-3xl md:text-3xl text-[19px]">
            View Components
        </p>
    </div>
    <div class="w-[50px] md:w-[150px]">
        <img src="./assets/Vector.png" alt="" srcset="" class="sm:w-24 w-20">
    </div>
  </div>
</div>
