---
interface props{
    name:String,
    link:String,
}
const {name,link} = Astro.props;
---

<a href={'/'+link}>
    <section class="rounded bg-white ring-2 ring-black m-3 text-center h-[100px] p-10">
        <p class="text-black">{name}</p>
    </section>
</a>