---
interface props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="container">
    <div class="logo">
      <img src="./assets/logo.png" alt="" srcset="" class="w-20" />
    </div>
    <h1 class="text-center text-3xl">Component List</h1>
    <slot />
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

    body {
      font-family: "Zen Dots", cursive;
      background: linear-gradient(180deg, #9a79e4 0%, #0a9ac2 100%);
      background-repeat: no-repeat;
    }
  </style>
</html>
