---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Box from '../components/Box.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex p-3">
			<div class="mr-auto ml-3">
				<img src="./assets/logo.png" class="w-[100px]" alt="">
			</div>
			<nav class="ml-auto mr-5">
				<img src="./assets/Menu.png" class="w-[50px] " id='menu' alt="">
			</nav>
			<div class=" hidden bg-white h-[95vh] w-[70vw] sm:w-[25vw] right-[100px] rounded" id="drawer" >
				<Box name="Introduction" link="Introduction" />
				<Box name="Cards"/>
				<Box name="Navigation"/>
				<Box name="Table"/>
			    <Box name="Pricing Section"/>
				<Box name="Newsletter"/>
				<Box name="Footer"/>
				<Box name="Sidebar"/>
				
			</div>
		</header>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
	font-family: 'Zen Dots', cursive;
	border-radius: 40px;
background: linear-gradient(180deg, #9A79E4 0%, #0A9AC2 100%);
background-repeat: no-repeat;
}
</style>

<script>
const menubar = document.querySelector('#menu');
  menubar?.addEventListener('click',()=>{
       const drawer = document.querySelector('#drawer')
	   
	if(drawer?.classList.contains('hidden')){
		drawer?.classList.replace('hidden','absolute')
	}else{
		drawer?.classList.replace('absolute','hidden')
	}
})
</script>