---
---

<div class="w-[100%] bg-white font-sans">
    <h2 class="font-bold text-4xl p-4">Pricing Section V3: </h2>
    <div class="w-[95%] bg-[#bec6dc] rounded-3xl m-auto p-4">
        <!-- <h3 class="text-center font-bold text-3xl">Pricing</h3> -->
        <div class="flex md:flex-row flex-col md:items-end md:justify-evenly items-center mt-3">
            <div class=" bg">

            </div>
           
        </div>
    </div>
</div>
</Layout>