---
---

<div class="w-[100%] bg-white font-sans">
    <h2 class="font-bold text-4xl p-4">Pricing Section V2: </h2>
    <div class="w-[95%] bg-[#bec6dc] rounded-3xl m-auto p-4">
        <!-- <h3 class="text-center font-bold text-3xl">Pricing</h3> -->
        <div class="flex md:flex-row flex-col md:items-end md:justify-evenly items-center mt-3">

            <div class=" mt-2 bg-white  md:h-[22rem] w-[14rem] md:w-[15rem] md:p-6 md:pt-12 p-4 grid rounded-3xl border border-black ">
                <h5 class="text-3xl font-bold text-center">Basic</h5>
                <div class=" md:mt-6 mt-4 ">
                    <ul class="text-sm text-left text-black pl-3">
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 1</li>
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 2</li>
                        <li class="my-2"><span class="text-red-700 font-extrabold">&#x1F5D9;</span> Option # 3</li>
                        <li class="my-2"><span class="text-red-700 font-extrabold">&#x1F5D9;</span> Option # 4</li>
                        <li class="my-2"><span class="text-red-700 font-extrabold">&#x1F5D9;</span> Option # 5</li>
                    </ul>
                    <div class="flex items-center mt-8 ">
                        <button class="bg-black w-48 text-center rounded-full text-white text-2xl font-medium p-1 flex items-center" ><p class="mb-1 pl-2">Buy Now</p><div class="p-1 ml-auto rounded-full bg-white text-black font-bold">150$</div></button>
                    </div>
                </div>
            </div>

            <div class=" mt-2 bg-white  md:h-[27rem] w-[14rem] md:w-[15rem] md:p-6 md:pt-12 p-4  grid rounded-3xl border border-black ">
                <h5 class="text-3xl font-bold text-center">Premium</h5>
                <div class="mt-4">
                    <ul class="text-sm text-left text-black pl-3">
                        <li class="md:my-6 my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 1</li>
                        <li class="md:my-6 my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 2</li>
                        <li class="md:my-6 my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 3</li>
                        <li class="md:my-6 my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 4</li>
                        <li class="md:my-6 my-2"><span class="text-red-700 font-extrabold">&#x1F5D9;</span> Option # 5</li>
                    </ul>
                    <div class="flex items-center mt-8 md:mt-12">
                        <button class="bg-black w-48 text-center rounded-full text-white text-2xl font-medium p-1 flex items-center" ><p class="mb-1 pl-2">Buy Now</p><div class="p-1 ml-auto rounded-full bg-white text-black font-bold">150$</div></button>
                    </div>
                </div>
            </div>
            <div class=" mt-2 bg-white  md:h-[22rem] w-[14rem] md:w-[15rem] md:p-6 md:pt-12 p-4 grid rounded-3xl border border-black ">
                <h5 class="text-3xl font-bold text-center">Gold</h5>
                <div class=" md:mt-6 mt-4">
                    <ul class="text-sm text-left text-black pl-3">
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 1</li>
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 2</li>
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 3</li>
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 4</li>
                        <li class="my-2"><span class="text-green-700 font-bold">&#x2714;</span> Option # 5</li>
                    </ul>
                    <div class="flex items-center mt-8 ">
                        <button class="bg-black w-48 text-center rounded-full text-white text-2xl font-medium p-1 flex items-center" ><p class="mb-1 pl-2">Buy Now</p><div class="p-1 ml-auto rounded-full bg-white text-black font-bold">150$</div></button>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
</Layout>